body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.app {
    display: flex;
    height: 100vh;
}

.left-pane {
    width: 20%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-header {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.new-chat {
    width: 80%;

    background-color: #161617;
    color: #fff;
  height: 52px;
  font-size: large;
    padding: 10px;
    border-radius: 8px;
    border-color: #949191;
    /* cursor: pointer; */
}

.close-sidebar {
    background-color: black;
    border-color: gray;
   width: 43px;
   height: 52px;
   border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.list-of-chats {
    margin-top: 20px;
    flex-grow: 1;
    overflow-y: auto;
    font-size: large;
}

.single-chat {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* .chat-icon {
    width: 30px;
    height: 30px;
    
    background-color: #007bff;
    border-radius: 50%;
    margin-right: 10px;
} */

.chat-title {
    flex-grow: 1;
}

.profile {
    margin-top: 10px;
}

.upgrade-plan {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    
}

/* .account-icon {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
    margin-right: 10px;
} */

.upgrade-text {
    flex-grow: 1;
    font-size: larger;
    font-weight: bold;
}

.new-label {
    background-color: rgb(244, 204, 29);
    color: #472121;
    padding: 7px 7px;
    border-radius: 5px;
    font-size: large;
    width: 40px;
}

.profile-details {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 40px;
    height: 40px;
    background-color: #007bff;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    flex-grow: 1;
}

.more-options {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
/* Add hover effects for buttons */
.new-chat:hover,
.close-sidebar:hover {
    background-color: #0056b3;
}

/* Add hover effect for single chat items */
.single-chat:hover {
    background-color: #eee;
    cursor: pointer;
}

.hidden {
    display: none;
}
/* ... (previous CSS) ... */

.show-sidebar {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.show-sidebar .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

/* ... (previous CSS) ... */
/* ... (previous CSS, if any) ... */

.app {
    display: flex;
    height: 100vh;
}

.left-pane {
    width: 10%;
    /* ... (left pane styles, as before) ... */
}
#rb{
   background-color: rgb(222, 219, 219); 
   width: 28%;
   height: 57px;
   margin: 20px;
   border-radius: 10px;
   padding: 10px;
   } 
.right-pane {
    width: 75%;
    background-color:white;
    position: relative;
    display: flex;
    flex-direction: column;
}
#gpt-3{
    font-size: larger;
    /* padding-top: 6px; */
    background-color: white;
    color: black;
    height:2.8vmax;
    width:9.2vmax;
}
#gpt-4{
    font-size: larger;
    /* padding-top: 6px;
    margin-top: 5px; */
    height:2.8vmax;
    width:9.8vmax;
    color: gray;
    background-color:rgb(222, 219, 219);

}
.floating-buttons {
    display: flex;
    
    justify-content: center;
    /* padding: 10px 0; */
    background-color: #f6f7f9;
}

.gpt-button {
    background-color: transparent;
    color: #fff;
    border: none;
    /* padding: 10px 20px;
    margin: 0 10px; */
    cursor: pointer;
    font-weight: bold;
}
h1{
    color: rgb(222, 219, 219);
    font-size:2.5cqmax;
    text-align: center;
}
.messages-section {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.message-card {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-card.sent {
    background-color: #eff6fc;
    text-align: right;
}

.input-box {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 14px;
}

.send-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
}

.send-icon {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

/* ... (previous CSS, if any) ... */
/* Global Styles */
/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fbfbfb; /* Dark background color for the entire page */
    color: #fff; /* Text color */
}

.app {
    display: flex;
    height: 100vh;
}

/* Left Pane Styles */
.left-pane {
    width: 20%;
    background-color: #222; /* Dark background color for left pane */
    overflow-y: auto;
    padding: 10px;
}

.single-chat {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.single-chat:hover {
    background-color: #333; /* Darker background color on hover */
}

.chat-icon {
    display: flex;
    /* width: 10px;
    height: 10px; */
    /* background-color: #007bff; */
    /* border-radius: 50%; */
    margin-right: 10px;
}

.chat-title {
    flex-grow: 1;
    font-weight: bold;
}

/* Right Pane Styles */
.right-pane {
    width: 75%;
    background-color: #fcf7f7; /* Dark background color for right pane */
    display: flex;
    flex-direction: column;
}

.floating-buttons {
    display: flex;
    justify-content: space-around; /* Center the buttons */
    padding: 10px;
}

.gpt-button {
    background-color: #555; /* Button background color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.gpt-button:hover {
    background-color: #777; /* Darker button background on hover */
}

.messages-section {
    flex-grow: 1;
    /* padding: 20px; */
    overflow-y: auto;
}

.message-card {
    background-color: #fdfafa; /* Message card background color */
    /* padding: 10px;
    margin: 10px 0; */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.message-card.sent {
    background-color: #007bff;
    color: #fff;
}

.input-box {
    width: 70%;
    height: 60%;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px rgb(197, 196, 196);
     /* Input box border color */
    border-radius: 10px;
    resize: vertical;
    font-size: 24px;
    background-color: #f7f7f7; /* Input box background color */
    color: #0e0e0e; /* Input text color */
}

.send-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    /* padding: 10px; */
    background-color: #f8f5f5; /* Send message section background color */
}

.send-icon {
    width: 20px;
    background-color: #f7f7f7;
    height: 20px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: -5%;
    cursor: pointer;
}


